<ul class="taskList">
    <!--<li ng-repeat="entry in $ctrl.entries" ng-class="$last ? 'taskRow last' : 'taskRow'">-->
    <li ng-repeat="entry in $ctrl.entries" ng-class="$ctrl.addClass(entry)">
        <div class="taskName">
            <span>{{entry.TaskName}}</span>
            <span>{{entry.ProjectName}}</span>
        </div>
        <div class="taskTime">
            <span>{{entry.Hours}}:{{entry.Minutes}}</span>
            <span>ico</span>
        </div>
    </li>
</ul>
<div style="clear:both"/>