<div class="statusIcons">
    <span> Empty </span>
    <span> Open </span>
    <span> Approved </span>
    <span> Certified </span>
<div>
<div class="daysInWeek">
    <div class="aDayInWeek first" ng-class="$ctrl.selectedClass(1)" ng-click="$ctrl.select(1)"><span>M<span><span>08:32</span><span>ico</span></div><div 
    class="aDayInWeek" ng-class="$ctrl.selectedClass(2)" ng-click="$ctrl.select(2)"><span>T<span><span>08:32</span><span>ico</span></div><div 
    class="aDayInWeek" ng-class="$ctrl.selectedClass(3)" ng-click="$ctrl.select(3)"><span>W<span><span>08:32</span><span>ico</span></div><div 
    class="aDayInWeek" ng-class="$ctrl.selectedClass(4)" ng-click="$ctrl.select(4)"><span>T<span><span>08:32</span><span>ico</span></div><div
    class="aDayInWeek" ng-class="$ctrl.selectedClass(5)" ng-click="$ctrl.select(5)"><span>F<span><span>08:32</span><span>ico</span></div><div 
    class="aDayInWeek" ng-class="$ctrl.selectedClass(6)" ng-click="$ctrl.select(6)"><span>S<span><span>08:32</span><span>ico</span></div><div 
    class="aDayInWeek last" ng-class="$ctrl.selectedClass(7)" ng-click="$ctrl.select(7)"><span>S<span><span>08:32</span><span>ico</span></div>
</div>
<div>
    <span>{{$ctrl.selectedDateStr}}</span>
</div>