<div class="weekNavigation">
    <a href="{{$ctrl.preWeekLink}}" class="preWeek">Previous</a>
    <span class="currWeek">{{$ctrl.currentWeekStr}}</span>
    <a href="{{$ctrl.nextWeekLink}}" class="nextWeek">Next</a>
</div>