/* app css stylesheet */
ul
{
    list-style-type:none;
    margin:0;
    padding: 0;
}
.topBarNavContainer
{
    height: 35px;
    position: relative;
}

.menuIcon
{
    position: absolute;
    left:0;
    top:0;
    width: 40px;
}

.screenTitle
{
    text-align: center;
    display: inline-block;
    width:100%;
}

.timeTrackingSubMenu
{
    text-align: center;
}

.subMenuItems
{
    
    display: inline-block;
}

.subMenuItems li
{
    display: inline-block;
    margin: 0px;
    padding: 0 10px 0 10px;
    text-align: center;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.subMenuItems li.first
{
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
}

.subMenuItems li.last
{
    border-radius: 0 5px 5px 0;
    border: 1px solid black;
}

.weekNavigation
{
    text-align: center;
}

.preWeek
{
    float:left;
}

.nextWeek
{
    float:right;

}
.statusIcons
{
    text-align: center;
}
.aDayInWeek
{
    width:14%;
    display: inline-block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.aDayInWeek.selected
{
    background-color: lightgrey; 
}
.aDayInWeek.last
{
   border-right: none;
}
.aDayInWeek span
{
    display: block;
}
.taskList li
{
  width:100%;
  height: 46px;
}
.taskName
{
    float:left;
}
.taskName span
{
  display: block;
}
.taskTime
{
    float:right;
    height: 46px;
    line-height: 46px;
}
.taskTime span
{
  vertical-align: middle;
}

.dayTotalRow
{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 60px;
    line-height: 60px;
}

.dayTotalBlock
{
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    border-right: 1px solid black;
    width:24%;
    line-height: 40px;
}
.dayTotalBlock span{
    text-align: center;
    display: block;
    width: 100%;
    height: 20px;
     line-height: 20px;
}
.dayTotalBlock.last
{
      border-right: none;
}
.addDialog
{
    display: none;
}
.addButton
{
    position: fixed;
    bottom:0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    width: 100%;
    background-color: lightskyblue;
}
.taskList 
{
    border-bottom: 1px solid lightgray;
}
.taskRow
{
     border-top: 1px solid lightgray;
}
.taskRow.last
{
     border-top: 1px solid lightgray;
}
.hidden
{
    display: none;
}
.mainView
{
    margin-bottom:40px;
}