<top-bar-navigation></top-bar-navigation>
<time-sub-menu></time-sub-menu>
<week-navigation></week-navigation>
<days-in-week></days-in-week>
<task-list></task-list>
<day-total></day-total>
<add-entry></add-entry>
