<h4>Day totals</h4>
<div class="dayTotalRow">
    <span class="dayTotalBlock">
        <span> 08:00 </span>
        <span> Scheduled </span>
    </span>
    <span class="dayTotalBlock">
        <span> 05:45 </span>
        <span> Worked </span>
    </span>
    <span class="dayTotalBlock">
        <span> 00:00 </span>
        <span> Absence </span>
    </span>
    <span class="dayTotalBlock last">
        <span> 06:45 </span>
        <span> Total </span>
    </span>
</div>
