<div class="timeTrackingSubMenu">
    <ul class="subMenuItems">
        <li class="first"><a href="#!/timetracking/week">Week</a></li><li
        ><a href="#!/timetracking/month">Month</a></li><li
        class="last"><a href="#!/timetracking/dashboard">Dashboard</a></li>
    </ul>
</div>
